@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}


/* Header section */

.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: 0cap;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.container-data {
    width: 100%;
}

.scrolling-navbar {
    background: linear-gradient(#1d1d1d, #1d1d1d);
    padding: 50px 22px;
    background-color: transparent;
    z-index: 2;
    transition: .55s ease;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    position: fixed;
    max-width: 95px;
}

.fa-bars {
    height: 42px;
    width: 42px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
    color: azure;
}

.fa-bars:hover {
    color: #027EBC;
    border: 2px solid #027EBC;
}

.whatsapp {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    display: inline-block;
    color: #027EBC;
    border: 1px solid #027EBC;
    transform: rotate(-90deg);
    white-space: nowrap;
    padding: 11px 35px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    background-color: transparent;
    margin-top: -50rem;
}

.whatsapp:hover {
    background-color: #027EBC;
    color: white;
}

@media only screen and (max-width: 988px) {

    .scrolling-navbar {
        display: none;
    }

    .scrolling-navbar-2 {
        display: contents;
        background: linear-gradient(#1d1d1d, #1d1d1d);
        background-color: transparent;
        z-index: 2;
        transition: .55s ease;
        border-right: 1px solid rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        position: fixed;
    }
}

@media screen and (min-width:989px) and (max-width: 3000px) {

    .scrolling-navbar-2 {
        display: none;
    }
}

/* Vertical Navabar */

.offcanvas {
    background-color: #1C1C1C;
    color: #FFFFFF;
    transition: .6s;
    transition-timing-function: linear;
    opacity: 1;
}


.offcanvas::before {
    content: "Always Striving For Excellence.";
    position: absolute;
    top: 35%;
    right: 10%;
    transform: translateY(-50%);
    display: block;
    font-size: 200px;
    font-weight: 700;
    line-height: 1;
    color: white;
    opacity: .1;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: 0;
    height: 300px;
    letter-spacing: 5px;
    text-align: right;
    z-index: -1;
}


.offcanvas-header {
    padding: 3rem;
}

.fa-xmark {
    position: absolute;
    right: 5%;
    top: 35px;
    opacity: 1;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    opacity: .8;
}

.fa-xmark:hover {
    background-color: white;
    color: black;

}

.offcanvas-center {
    padding-left: 5rem;
}

.offcanvas-body-navbar ul {
    float: none;
    text-align: left;
    padding: 10px 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 500px;
    margin-left: 0;
    margin-right: auto;
    list-style: none;
}

.offcanvas-body-navbar ul li a {
    padding: 4px 0;
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    transition: all .6s ease;
    font-style: normal;
    text-decoration: none;
    transition: all .55s ease;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba(221, 221, 221, .8666666667);
    color: transparent;
}

.offcanvas-body-navbar ul li a:hover {
    color: white;
}

.offcanvas-body-navbar ul li a:active {
    -webkit-text-stroke: 1px rgba(221, 221, 221, .8666666667);
    color: transparent;
}

.offcanvas-body-navbar-option ul li {
    padding-left: 2rem;
}

.fa-plus {
    position: absolute;
    left: 115%;
    top: 35px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.offcanvas-body-navbar-option-choice {
    display: none;
}

.offcanvas-body-navbar-2-option:hover+.offcanvas-body-navbar-option-choice {
    display: block;
}



/* Horizontal Navabar */

.navbar-collapse {
    transition: .6s;
    transition-timing-function: linear;
    opacity: 0;
}

.navbar-collapse.show {
    opacity: 1;
    transition: all 1s;
}

.offcanvas-body-navbar-2 ul {
    text-align: left;
    padding: 10px 0;
    width: 100%;
    list-style: none;
}

.offcanvas-body-navbar-2 ul li a {
    padding: 4px 0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    transition: all .6s ease;
    font-style: normal;
    text-decoration: none;
    transition: all .55s ease;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px rgba(221, 221, 221, .8666666667);
    color: transparent;
}

.offcanvas-body-navbar-2 ul li a:hover {
    color: white;
}

.offcanvas-body-navbar ul li a:active {
    -webkit-text-stroke: 1px rgba(221, 221, 221, .8666666667);
    color: transparent;
}

.offcanvas-body-navbar-2-option ul li {
    padding-left: 2rem;
}

.offcanvas-body-navbar-2-option ul li a {
    font-size: 15px;
    font-weight: 400;
    padding: 7px 5px;
    font-style: normal;
    text-transform: capitalize;
    -webkit-text-stroke: unset;
    -webkit-text-fill-color: unset;
    color: white;
}

.fa-sharp {
    position: absolute;
    left: 115%;
    top: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.offcanvas-body-navbar-2-option-choice ul li a {
    display: none;
}

.fa-sharp:hover .offcanvas-body-navbar-2-option-choice ul li a {
    display: block;
}


@media screen and (max-width:500px) and (min-width:100px) {

    .offcanvas-body-navbar-2 ul li a {
        font-size: 2.4rem;
    }

}

@media screen and (max-width:989px) and (min-width:501px) {

    .offcanvas-body-navbar-2 ul li a {
        font-size: 5rem;
    }

}

/* Important screen class */

.side {
    margin-left: 82px;
}

@media only screen and (max-width: 988px) and (min-width: 100px) {

    .side {
        margin-left: -2px;
    }
}

/* Body section */

/* about-main-section */

.about-main-section {
    position: relative;
    background-image: url("image/aboutus-bg.png"), linear-gradient(#1d1d1d, #1d1d1d);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 30rem;
}

.breadcrumbs .inner-banner-1 {
    border-radius: 130px;
    position: absolute;
    top: 115px;
    left: 45px;
}

.breadcrumbs .inner-banner-1 img {
    border-radius: 130px;
}

.breadcrumbs .inner-banner-1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 130px;
    background: rgba(29, 29, 29, .6);
}

.breadcrumbs .inner-banner-2 img {
    position: absolute;
    bottom: 0;
    right: 170px;
    border-radius: 130px 130px 0 0;
    opacity: 0.4;
}

.breadcrumbs .inner-banner-2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.breadcrumbs .breadcrumb-wrapper {
    display: flex;
    flex-direction: column;
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt {
    position: relative;
    text-align: center;
    margin-top: 4rem;
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt span {
    font-family: 5rem;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b5b5b5;
    display: inline-block;
    padding: 8px 40px;
    position: relative;
    background-color: rgb(2 126 188 / 20%);
    margin-bottom: 10px;
    border-radius: 5px;
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt span::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt span::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt h1 {
    font-size: 77px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.breadcrumb-cnt .breadcrumb-list {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt .breadcrumb-list a {
    color: #027EBC;
    text-decoration: none;
}

@media screen and (max-width:991px) {

    .breadcrumbs .inner-banner-1 img {
        display: none;
    }

    .breadcrumbs .inner-banner-2 img {
        display: none;
    }

    .breadcrumbs .breadcrumb-wrapper .breadcrumb-cnt h1 {
        font-size: 45px;
    }

    .breadcrumbs .breadcrumb-wrapper {
        padding: 100px 0 90px;
    }

}

/* Team member */

.team-details{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.member-details{
    background: #121212;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 200px 200px 0 0;
    padding: 20px 20px 30px;
    position: relative;
    transition: .5s;
}


.member-image{
    border-radius: 200px 200px 0 0;
    margin-bottom: 30px;
    transition: .5s;
}

.member-image img {
    border-radius: 200px 200px 0 0;
    transition: .5s;
    height: 20rem;
    width: 100%;
}

@media screen and (max-width:1200px) {

    .member-image img {
        width: 100%;
        height: 25rem;
    }
}

.member-work-details{
    text-align: center;
}

.member-work-details h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2px;
}

.member-work-details h4{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    line-height: 1;
}

.member-details:hover{
    border-radius: 0px;
}

.member-details:hover .member-image img {
    border-radius: 0px;
}

/* about-work-section-titel */

.about-work-main-section{
    background-color: #171717;
    color: white;
}

.about-work-section{
    margin: 8rem 0rem 15rem;
}

.about-work-section-titel h2 {
    font-weight: 600;
    font-size: 150px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .08);
    margin-bottom: 30px;
}

.about-work-section-titel h1 {
    font-weight: 600;
    font-size: 250px;
    line-height: 1;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
    opacity: 0.1;
}


.about-work-btn{
    display: flex;
    justify-content: center;
    margin-top: -8rem;
    position: relative;
}

.about-work-btn i {
    font-size: 2rem;
    transform: rotate(300deg);
    transition: .2s;
}

.about-work-btn a {
    width: 259px;
    height: 259px;
    border: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: white;
    border-radius: 50%;
    background-color: #1B1F23;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    transition: .8s;
    text-align: start;
    text-decoration: none;
    text-align: center;
}

.about-work-btn a:hover {
    border-color: #027EBC;
    box-shadow: inset 0 0 0 10em #027EBC;
}

.about-work-btn a:hover i {
    transform: rotate(360deg);
}

@media screen and (max-width:600px) {

    .about-work-main-section{
        background-color: #171717;
        color: white;
    }    

    .about-work-section{
        margin: 8rem 0rem 8rem;
    }

    .about-work-section-titel h1 {
        font-size: 105px;
    }

    .about-work-section-titel h2 {
        font-size: 90px;
    }

    .about-work-btn{
        margin-top: -3rem;
    }
}

@media screen and  (min-width:601px) and (max-width:1000px)  {

    .about-work-section{
        margin: 8rem 0rem 8rem;
    }

    .about-work-section-titel h1 {
        font-size: 150px;
    }

    .about-work-section-titel h2 {
        font-size: 100px;
    }

    .about-work-btn{
        margin-top: -3rem;
    }

}

@media screen and (min-width:1001px) and (max-width:1500px) {

    .about-work-section{
        margin: 8rem 0rem 6rem;
    }

    .about-work-section-titel h1 {
        font-size: 180px;
    }

    .about-work-section-titel h2 {
        font-size: 100px;
    }

    .about-work-btn{
        margin-top: -3rem;
    }
}


/* footer section */ 

footer {
    background-image: url("/image/asset\ 67.png");
    background-repeat: no-repeat;
    background: linear-gradient(#182032, #1d1d1d);
    color: white;
}

@media screen and (max-width:500px) and (min-width:100px) {

    footer {
        background-image: url("/image/asset\ 67.png");
        background-repeat: no-repeat;
        background: linear-gradient(#171717, #171717);
        color: white;
    }
}

.footer-header {
    border-bottom: 0.5px solid #312F32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    flex-wrap: wrap;
}

.footer-header-logo {
    max-width: 100%;
    height: auto;
}

.footer-header-contect {
    display: flex;
    align-items: center;
    gap: 10px;
}

g {
    fill: #027FBC;
}

.contact-icon-number p {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: white;
    display: inline-block;
    margin-bottom: 3px;
}

.contact-icon-number h6 a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .03em;
    color: white;
    transition: .5s;
}

.contact-icon-number h6 a:hover {
    color: #027EBC;
}

@media screen and (max-width:500px) and (min-width:100px) {

    .footer-header-contect {
        padding-top: 2rem;
    }
}


.footer-center-contect h4 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: .03em;
}

.footer-center-contect h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .03em;
    color: #b5b5b5;
    transition: .5s;
    text-decoration: none;
}

.footer-center-contect a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .03em;
    color: #b5b5b5;
    transition: .5s;
    text-decoration: none;
}

.footer-center-contect a:hover {
    color: #027EBC;
}

.footer-center-contect-info h4 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: .03em;
}

.footer-center-contect-info a {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: .03em;
    color: #b5b5b5;
    transition: .5s;
    text-decoration: none;
}

.footer-center-contect-info a:hover {
    color: #027EBC;
}

.footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

@media screen and (max-width:725px) and (min-width:100px) {

    .footer-end {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
}

.copyright {
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    color: #e4e4e4;
}

.footer-social-media-icon ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 28px;
}

.footer-social-media-icon ul li a {
    height: 28px;
    width: 28px;
    border-radius: 4px;
    background-color: rgba(15, 16, 18, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .5s;
    text-decoration: none;
}

.footer-social-media-icon ul li a:hover {
    color: #027FBC;
}
